body{
    background-color: blanchedalmond;
    font-family: "Sour Gummy" sans-serif;
}
.top h1{
    font-family: "Roboto", sans-serif;
    font-size: 150px;
    margin-left:1000px;
}   
.top2 h1{
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    position:absolute;
    margin-left:1200px;
    padding-top: 100px;
}

.image{
    position:relative;
    text-align: center;
    margin-bottom: 20px;
}

.middle span{
    font-family: "Sour Gummy",sans-serif;
    font-size: 24px;
    margin-right: 50px;
    
}

.middle{
    position:absolute;
    bottom:-70px;
    left:51.8%;
    transform: translateX(-50%);
    padding:5px 10px;
    text-align: center;
}

.description{
    font-family: "Sour Gummy",sans-serif;
    margin-top:100px;
    width:500px;
    text-align: justify;
    margin-left:460px;
}